{:paths ["src" "resources"]

 :deps {org.clojure/clojure            {:mvn/version "1.11.0-alpha2"}
        org.clojure/core.logic         {:mvn/version "1.0.0"}
        org.clojure/math.combinatorics {:mvn/version "0.1.6"}}

 :aliases {:run {:main-opts ["-m" "safehammad.aoc2021"]}
           :kaocha-runner {:extra-deps {lambdaisland/kaocha {:mvn/version "1.0.732"}}}}}
